:root {
  --active-color: #583906;
}

.text-link-active {
  color: var(--active-color) !important;
}

.bg-active-transparent {
  background-color: rgba(88, 57, 6, 0.025) !important;
}

.nav-link-container {
  position: relative;
  height: 2.5rem;
}

.nav-link-container:hover {
  z-index: 3;
}

.navbar-search-results {
  max-height: 21rem;
  overflow-y: auto;
}

.nav-dropdown-menu {
  display: none;
}

.nav-link:hover {
  position: relative;
  color: var(--active-color) !important;
  background-color: #ffff;
  z-index: 1;
}

.side-navbar .nav-link-option:hover {
  position: relative;
  color: var(--active-color) !important;
  background-color: rgba(88, 57, 6, 0.025) !important;
  box-shadow: var(--bs-box-shadow-sm) !important;
  border-left: 3px var(--secondary-color) solid;
  z-index: 1;
}

.side-navbar .nav-link-active {
  position: relative;
  color: var(--active-color) !important;
  border-left: 3px var(--secondary-color) solid;
  z-index: 1;
}

.nav-link-parent {
  background-color: transparent;
  padding-bottom: 0 !important;
}

.side-navbar .nav-link-parent {
  background-color: #fff;
}

.nav-link-container:hover {
  color: var(--active-color) !important;
}


.active-nav-link-child {
  background-color: rgb(208, 157, 12, 0.5);
}

.bg-transparent-accent {
  background-color: var(--primary-color);
}

.text-active {
  color: var(--active-color);
}

.profile-pic-card {
  height: 1.5rem;
  width: 1.5rem;
}

@media (max-width: 500px) {
  .nav-link {
    background-color: transparent;
  }

  .nav-link-container {
    position: relative;
    height: 2.5rem;
  }
}
