/* General cell padding */
th, td {
  padding: 1rem ;
  padding-top: 0.5rem ;
  padding-bottom: 0.5rem ;
  white-space: normal;
}

td {
  padding-top: 0.33rem ;
  padding-bottom: 0.33rem ;
  font-size: 0.875rem;
}


/* Table setup */
table {
  border-collapse: collapse;
  overflow-x: auto;
}


/* Rows */
tr {
  border-radius: 0.25rem;
}

/* Zebra stripes only for tbody */
tbody tr:nth-child(odd) {
  background-color: var(--background-color);
}

/* Hover effect only for tbody rows */
tbody tr:hover {
  background-color: rgba(208, 157, 12, 0.1);
}


/* Links inside table not hovered */
table a {
  color: var(--secondary-color);
}

/* Table wrapper for horizontal scroll */
.table-wrapper {
  overflow-x: auto;
}

/* Pagination styling */
.page-item,
.page-link {
  color: var(--secondary-color);
}
