@import "tailwindcss";

:root {
  --primary-color: #d09d0c;
  --secondary-color: #9c6334;
  --background-color: #faf9f6;
  --active-color: #583906;
  --text-color: #333333;
  --white-2: white;
   --border-gray-500: #6b7280; 
   --bs-border-color: #dee2e6;
}

#root {
  height: 100dvh;
  font-family: Arial;
  color: var(--text-color);
}

.reset-dropdown-toggle {
  all: unset !important;
}

.border, .border-b, .border-t, .border-l, .border-r, .border-x {
  border-color: var(--bs-border-color) !important;
}

.border-primary-color {
  border-color: var(--primary-color) !important;
}

.border-secondary-color {
  border-color: var(--primary-color) !important;
}

.bg-white-2 {
background-color: var(---white-2) !important;
}

.border-accent-secondary {
  border: 2px solid var(--secondary-color);
}

.btn {
  border-radius: 0.5rem;
}

.btn-accent:hover {
  background-color: var(--primary-color);
}

.btn-accent-secondary {
  background-color: var(--background-color) !important;
  border: 1px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
}

.btn-filled {
  color: var(--primary-color) !important;
  position: relative;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color) !important;
}

.border-accent {
  border: 2px solid var(--primary-color);
}

.outline-accent {
  outline: 2px solid var(--primary-color);
}

.border-secondary {
  border: 2px solid var(--secondary-color) !important;
}

.border-left-accent {
  border-left: 3px solid var(--secondary-color);
}

.bg-accent {
  background-color: var(--primary-color) !important;
  color: #fff;
}

.bg-accent-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-background {
  background-color: var(--background-color);
}

.btn-light {
  background-color: #f5f5f5 !important;
  color: var(--secondary-color) !important;
}

.btn-accent {
  background: var(--primary-color);
  color: #fff;
}

.btn-accent:disabled {
  background: var(--primary-color) !important;
  color: #fff !important;
}

.btn-accent:disabled {
  cursor: not-allowed !important; /* Show not-allowed cursor */
  opacity: 0.6 !important; /* Slightly transparent */
  pointer-events: none !important; /* Prevent interaction */
}

.btn-accent-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.fade-in {
  animation: fadeIn;
  animation-duration: 0.2s;
}

.overflow-y-auto {
  overflow-y: auto;
  max-height: 100dvh;
}

.nav-link-title:hover .tab-title {
  color: var(--primary-color) !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  border-color: var(--primary-color) !important;
}

.index-nav-link {
  font-size: larger !important;
  border-right: 4px solid var(--secondary-color) !important;
  background-color: #fff;
}

.profile-pic-card-wrapper {
  position: relative;
  display: inline;
  border-radius: 50%;
  padding: 0.25rem;
  background: conic-gradient(var(--secondary-color), var(--primary-color));
}

.profile-pic-card {
  height: 12rem;
  object-fit: cover;
}

.dropdown-trigger:hover {
  background-color: #fff;
  position: absolute;
  z-index: 99 !important;
  width: 100%;
}

.dropdown-trigger-btn:hover .dropdown-trigger .nav-dropdown-menu {
  display: block !important;
}

.hover-accent:hover {
  cursor: pointer;
  color: var(--active-color) !important;
}

.text-header {
  color: var(--active-color);
}

.transparent-accent-bg {
  position: relative;
}

.transparent-accent-bg::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--primary-color);
  opacity: 0.7;
  border-radius: 0.5rem;
  z-index: -1;
}

input:focus {
  box-shadow: 0 0 0 0.01rem var(--active-color) !important; /* Indigo ring */
  border-color: var(
    --primary-color
  ) !important; /* Optional: change border color too */
  outline: none !important;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.text-accent {
  color: var(--secondary-color);
} 

.text-accent-important {
  color: var(--secondary-color) !important;
} 

.text-accent-secondary {
  color: var(--secondary-color);
}

.tab-title:hover {
  color: var(--primary-color) !important;
}

.nav-tab:hover {
  color: var(--secondary-color) !important;
}

.nav-item.active,
.dropdown-toggle {
  color: var(--primary-color) !important;
}

.entity-layout .nav-link,
.tabs-container .nav-link {
  color: var(--secondary-color) !important;
}

.entity-layout .nav-link.active,
.tabs-container .nav-link {
  color: var(--primary-color) !important;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}
