.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  z-index: 900;
  top: 0;
  inset: 0;
  animation: fadeIn;
  animation-duration: 0.2s;
}

.my-modal {
  position: absolute;
  background-color: #fff;
  color: var(--text-color) !important;
  max-height: 99dvw !important;
  z-index: 999;
}

@media (max-width: 500px) {
  .my-modal {
    width: 99dvw !important;
    height: 99dvh !important;
  }
}
